/*body.hompage {
background:url('graphics/cube.png') no-repeat scroll center center #333;
}
*/


	body, input, textarea, select {
    color: #FFF;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}
	 

#intro h3 {
    font-size: 1em;
	text-transform:uppercase;
	font-weight:300;
	color:#ffffff;
}
.viewNavigator_header_title {
    color: #ffffff;
    font-weight: 300;
    left: 0;
    margin-left: auto;
    margin-right: auto;
   
    overflow: visible;
    position: absolute;
    right: 0;
    text-align: center;
    text-overflow: ellipsis;
   
    white-space: nowrap;
}

.viewNavigator_header {
    height: 46px;
	background: url('images/bg.png') repeat 0 0 #c21e7d !important;
    padding: 0;
    position: absolute;
    width: 100%;
}
img.response, div.mainNav a.button img, .icon.featured.alt2.fa-frostyle img {
	min-height:100%;
	max-height:100%;
}

img.response {
	height: 1em !important;
}
.icon.featured.alt2.fa-frostyle img {
	height:195px;
}
.icon.featured.alt2 {
    background-color: #ddd !important;
}
.icon.featured.alt2::after {
    border-top-color: #ddd !important;
}
.icon::before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
.fa-map-marker::before {
    content: "ï��";
}
*, *::before, *::after {
    box-sizing: border-box;
}
.icon.featured::after {
    border-left: 4.5em solid transparent;
    border-right: 4.5em solid transparent;
    border-top: 2em solid #d52349;
    bottom: -1.95em;
    content: "";
    left: 0;
    position: absolute;
}
/**, *::before, *::after {
    box-sizing: border-box;
}*/
div.row div.4u section.first {
	background:#333 !important;
}
.icon.featured {
   /* background-color: #d52349;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
    cursor: point !important;
    display: inline-block;
    height: 195px;
    margin: 0 0 4.5em;
    padding: 1.75em 0 0.75em;
    position: relative;
    width: 9em;
}
.icon.featured::before {
    color: #fff;
    font-size: 4.5em;
    line-height: 1em;
}
.icon::before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
.fa-map-marker::before {
    content: "ï��";
}
.fa-map-marker::before {
    content: "ï��";
}
.icon::before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.icon.featured::after {
    border-left: 4.5em solid transparent;
    border-right: 4.5em solid transparent;
    border-top: 2em solid #ec098c;
    bottom: -1.95em;
    content: "";
    left: 0;
    position: absolute;
}
.icon.featured::after {
    border-left: 4.5em solid transparent;
    border-right: 4.5em solid transparent;
    border-top: 2em solid #d52349;
    bottom: -1.95em;
    content: "";
    left: 0;
    position: absolute;
}
.icon.featured.fa-map-marker {
    background-color: #ec098c !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: default;
    display: inline-block;
    margin: 0 0 4.5em;
    padding: 1.75em 0 0.75em;
    position: relative;
    width: 9em;
}
.viewNavigator_header_title img.response {
	height:30px;
}
a#search, a#search:hover,
a:link, a:hover, a  {
	text-decoration:none !important;
	cursor:pointer !important;
}
/* .shadow { cursor:crosshair; 
            -moz-box-shadow: -5px -5px 5px #888;
            -webkit-box-shadow: -5px -5px 5px #888;
            box-shadow: -5px -5px 5px #888; } 
.shadow {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0,0,0,.7) );
            filter: drop-shadow( 3px 3px 2px rgba(0,0,0,.7) ); /* Same syntax as box-shadow
} */
/*div#header section#intro.container div.row div.4u a:hover; div#header section#intro.container div.row div.4u a {
	text-decoration:none !important;
}*/
 div#searchView {
	 padding:1em;
 }`
 #aboutView h2,
#defaultView h2 {
    color: #ddd !important;
    display: block;
    font-weight: 100 !important;
    letter-spacing: -0.008em;
    padding: 14px 20px !important;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(70, 70, 69, 0.5) !important;
    text-transform: uppercase;
}
/*#aboutView div,*/
/*#defaultView div {
    display:block;
    padding:0;
    padding-top:0em;
	background-color: #333;
	background-image: url("images/cube-bg.png");
	background-position: center center;
	background-attachment: fixed;
	background-repeat: repeat;
	
}*/
/*
#defaultView div {
	background: url("images/bg01.png") repeat scroll 0 0 #364050;
    box-shadow: -0.1em 0 0.35em 0 rgba(0, 0, 0, 0.15) inset;
    padding: 0;
 }*/
 
 #defaultView div
	 {
    display:block;
    padding:0;
    padding-top:0em;
	background-color: #364050;
	background-image: url("images/bg01.png");
	background-position: 0 0;
	background-attachment: fixed;
	background-repeat: repeat;
	
}



.viewNavigator_contentHolder {
    background-color: #364050;
	background-image: url("images/bg01.png");
    bottom: 0;
    margin: 0;
    min-width: 100%;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
 
div#header header h2 {
padding: 1em 0;
color: #FFF;
}


/*#defaultView a {
    height:100%;
    display:block;
    border:1px solid #999;
    padding:1.25em;
    text-decoration: none;
    color:#444;
    font-size:1em;
    background:rgba(230,230,230,0.85);
}*/
#defaultView a {
    height:100%;
    display:block;
    /*padding:1.25em;*/
    padding: 0;
    text-decoration: none;
	/*background:rgba(230,230,230,0.85);*/
}
#defaultView a:active {
    background-color:#ae6f97;
}
#defaultView #nearMeX {
    padding-left:75px;
    background-image:url('graphics/map_marker.png');
    background-position: 15px center;
    background-repeat:no-repeat;
}
#defaultView #searchX {
    padding-left:75px;
    background-image:url('graphics/search.png');
    background-position: 5px center;
    background-repeat:no-repeat;
}
#defaultView #aboutX {
    padding-left:75px;
    background-image:url('graphics/info.png');
    background-position: 10px center;
    background-repeat:no-repeat;
}

.image.featured {
    display: block;
    margin: 0 0 0em !important;
    width: 100%;
}

#findMarketsNearMeView {
}
#aboutView {
    padding:1em;
    padding-top:0em;
    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
#searchView {
    padding:1.25em;
}
.leaflet-popup-content {
    font-size:1em;
    margin:05.em;
    text-align:center;
}
.leaflet-popup-content a {
    background:none;
    border:none;
    text-align:center;
}
#marketDetailsView {
    padding:1.0em;
}
#marketDetailsView h2 {
    padding:0em;
    margin:0em;
}
.paragraph {
    margin:0px;
    margin-bottom:1em;
    border-top:1px solid #CCC;
    padding-top:1em;
}
.paragraph_noborder {
    margin:0px;
    margin-bottom:1em;
    border: none;
    padding-top:1em;
}
.amenities {
    min-height:30px;
    font-size: 1.25em;
    padding-top:0.25em;
    padding-left:62px;
    background-repeat:no-repeat;
}
#credit_cards {
    background-image:url('graphics/credit_card.png');
    background-position: 10px center;
}
#wic_accepted {
    background-image:url('graphics/family.png');
    background-position: 15px center;
}
#senior {
    background-image:url('graphics/senior.png');
    background-position: 24px center;
}
#snap {
    background-image:url('graphics/snap.png');
    background-position: 20px center;
}
#bakedgoods {
    background-image:url('graphics/bread.png');
    background-position: 10px center;
}
#cheese {
    background-image:url('graphics/cheese.png');
    background-position: 7px center;
}
#arts {
    background-image:url('graphics/arts.png');
    background-position: 12px center;
}
#flowers {
    background-image:url('graphics/flower.png');
    background-position: 15px center;
}
#seafood {
    background-image:url('graphics/fish.png');
    background-position: 7px center;
}
#fruit {
    background-image:url('graphics/fruit.png');
    background-position: 15px center;
}
#herbs {
    background-image:url('graphics/herb.png');
    background-position: 15px center;
}
#vegetables {
    background-image:url('graphics/vegetables.png');
    background-position: 16px center;
}
#honey {
    background-image:url('graphics/honey.png');
    background-position: 17px center;
}
#jams {
    background-image:url('graphics/jams.png');
    background-position: 17px center;
}
#maple {
    background-image:url('graphics/maple.png');
    background-position: 17px center;
}
#nuts {
    background-image:url('graphics/nuts.png');
    background-position: 15px center;
}
#meat {
    background-image:url('graphics/meat.png');
    background-position: 10px center;
}
#plants {
    background-image:url('graphics/plants.png');
    background-position: 18px center;
}
#prepared {
    background-image:url('graphics/prepared.png');
    background-position: 15px center;
}
#soap {
    background-image:url('graphics/soap.png');
    background-position: 10px center;
}
#marketMapView {
    width:100%;
    height:100%;
    position:absolute;
}
#marketMapView #marketMapContainer{
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    position:absolute;
}
/*#marketMapView #footer{
    top:0px;
    height:18px;
    right:0px;
    position:absolute;
    padding:1em;
    padding-right:0.5em;
	z-index:99;
}*/
#marketMapView #footer {
    bottom: 2em;
    height: 18px;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-align: right;
    z-index: 99;
}
#search_state {
    font-size:1.25em;
    width:97%%;
}
div.paragraph a.button {
	margin:0 0 1em;
}
#search_searchPhrase {
    width:96%; 
    font-size:1.25em;
}
#searchButton, #mapButton {
    padding-left:2em;
    padding-right:2em;
}
input[type='checkbox'] { 
    width:2em;
    height:2em;
}
label {
    font-size: .8em;
    padding:.25em;
}
.searchfilter{
    padding:.25em;
}
#header-wrapper {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 0px solid #ccc !important;
    position: relative;
}
.searchfilter .amenities {
    font-size: 1em;
}
#geoError{
    padding:1.25em;
}
#geoError div {
    padding:1.25em;
    padding-top:0px;
}
.heading {
    background-color: #fff;
    color:#444;
    border-bottom:1px solid #999;
    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);
}
.warning {
    background-color: #F2DEDE;
    color:#B94A48;
    border:1px solid #EED3D7;
}
.right {
    position:absolute;
    right:0.75em;
    top:0.5em;
}
.padded {
    padding:1em;
}
.icon.ifeatured::before {
    color: #fff !important;
	font-size:4em;
    line-height: 1em;
}


h1, h2, h3, h4, h5, h6 {
    color: #FFF !important;
    font-weight: 700;
}

div#header section#intro.container p {
	padding:1em;
	text-align:justify;
	margin-bottom:0 !important;
	background:url('images/overlay') repeat scroll 0 0 #e8edec;
}

.\34 u, .\34 u\$ {
    clear: none;
    margin-left: 0;
    width: 50% !important;
	text-align:center;
}
#titleBar .toggle::before {
	display:none !important;
}
#intro section.first, #intro section.last, section.first, section.last{
    border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
	 border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
    margin: 0 !important;
    padding: 2.5em 0 0 !important;
    position: relative;
}
#intro section.first, section.first {
background: none #f57c00;
   /* box-shadow: -0.1em 0 0.35em 0 rgba(0, 0, 0, 0.15) inset;*/
	}

#intro section.last, section.last {
background: none #e91e63;
   /* box-shadow: -0.1em 0 0.35em 0 rgba(0, 0, 0, 0.15) inset;*/
	}

	.row {
    margin: 0px 0 0px 0px !important;
}

#footer {
position:relative;
bottom:0 !important;
width:100%;
}	

#intro section.footer_inner {
    border-top: 1px solid #dfdfdf;
    margin: 0 0 !important;
    padding: 1em 0 0 !important;
   
}