
<div id="defaultView">
    <h2>Fro-Style Cube Finder</h2>
    <div class="mainNav">
    <div id="nearMe"><a  href="#" class="button" ><img style="width:45px; height:65px; padding:1.5em 0;" src="assets/graphics/buttonCube.png"/></a><p>Find Cubes Near Me</p></div>
  <div id="search"> <a href="#" class="button"><img  style="width:45px; height:65px; padding:1.5em 0;" src="assets/graphics/buttonCube.png"/></a><p>Search For a Cube</p></div>
  
  
  </div>
    
    <div id="preload" style="display:none">
        <div id="bakedgoods" class="amenities">Baked Goods</div>
        <div id="cheese" class="amenities">Cheese</div>
        <div id="arts" class="amenities">Arts &amp; Crafts</div>
        <div id="flowers" class="amenities">Flowers</div>
        <div id="seafood" class="amenities">Seafood</div>
        <div id="fruit" class="amenities">Fruit</div>
        <div id="herbs" class="amenities">Herbs</div>
        <div id="vegetables" class="amenities">Vegetables</div>
        <div id="honey" class="amenities">Honey</div>
        <div id="jams" class="amenities">Jams</div>
        <div id="maple" class="amenities">Maple</div>
        <div id="nuts" class="amenities">Nuts</div>
        <div id="meat" class="amenities">Meats</div>
        <div id="plants" class="amenities">Plants</div>
        <div id="prepared" class="amenities">Prepared Foods</div>
        <div id="soap" class="amenities">Soap</div>
    </div>
    <div id="footer">
    <section class="footer_inner">
   <!-- <img src="../assets/graphics/cube.png" />-->
   <div><a id="about" href="#" class="button">About This App</a></div>
   </section>
    </div>
</div>
