		.viewNavigator_header_title {
			font-size: 1em !important;
			/*min-width: 1em !important;
			max-width:30% !important;*/
			font-weight:100 !important;
			text-transform:uppercase !important;
		}
		
		.responsiveImg {
			min-width:100%;
			max-width:100%;
		}
		#defaultView {
			background-image: none !important;
			background-color: #FFF !important;
			background-position: center bottom;
			background-repeat: no-repeat;
			bottom: 0 !important;
			position: fixed !important;
			padding-top:2em !important;
			width: 100% !important;
		}
		.viewNavigator_contentHolder > div:first-child {
			background: none repeat scroll 0 0 #fff !important;
			
		}
		
		#header, .viewNavigator_header{
			/*background: none repeat scroll 0 0 #2d3033;*/
			height: 47px;
			margin: 0;
			position: relative;
			
			background: #63676d !important; /* Old browsers */
			background: -moz-linear-gradient(top, #63676d 0%, #28343b 100%)!important; /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63676d), color-stop(100%,#28343b))!important; /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #63676d 0%,#28343b 100%)!important;/* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #63676d 0%,#28343b 100%)!important;; /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #63676d 0%,#28343b 100%)!important; /* IE10+ */
			background: linear-gradient(to bottom, #63676d 0%,#28343b 100%)!important;/* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63676d', endColorstr='#28343b',GradientType=0 )!important; /* IE6-9 */
		}

		a#nearMe.button {
			background-color: #c8711a !important;
		}
		
		a#search.button {
			background-color: #a70664 !important;
		}
		
		a.button {
			background-color: #a70664;
			background-image: url("images/bg01.png") !important;
			background-repeat: repeat !important;
			border-radius: 0.4em !important;
			border:none !important;
			box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15) inset;
			color: #fff !important;
			cursor: pointer !important;
			font-family: "Roboto",sans-serif;
			font-weight: 300 !important;
			text-align: center !important;
			text-decoration: none;
			text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2) !important;
			transition: background-color 0.25s ease-in-out 0s, color 0.25s ease-in-out 0s !important;
		}
		
		.viewNavigator_backButton {
            background: url("graphics/back_arrow.png") no-repeat scroll 5px center transparent !important;
            border: medium none !important;
            border-radius: 0 !important;
            box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15) inset !important;
            color: #fff !important;
            cursor: pointer !important;
            font-family: "Roboto",sans-serif !important;
            height: 35px;
            left: -5px !important;
            padding: 0.5em 0 !important;
            position: absolute;
            text-align: center !important;
            text-decoration: none;
            text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2) !important;
            top: -5px !important;
            transition: background-color 0.25s ease-in-out 0s, color 0.25s ease-in-out 0s !important;
            width: 40px;
        }
		
		.icon.ifeatured::before {
			color: #fff;
			line-height: 1em;
			font-size: 2em;
			margin-right: 0.5em;
            margin-left: -2em;
		}
		.icon::before {
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}
		
		.fa-map-marker::before {
			content: "ï��";
		}
		.icon::before {
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

        .warning {          
            background-color: #8fc800 !important; 
            @include filter-gradient(#8fc800, #8fc800, vertical) !important; 
            @include background-image(linear-gradient(top,  #8fc800 0%,#8fc800 100%)) !important;
            color:#006e2e !important;
            border: none !important;
        }

        .data-list li {
            background-image: url("graphics/more_disclosure.png");
            background-color: #eaeaea !important;
            @include filter-gradient(#eaeaea, #f9f9f9, vertical) !important;
            @include background-image(linear-gradient(top, #eaeaea 0%,#f9f9f9 100%)) !important;
            background-position: right center;
            background-repeat: no-repeat;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #fff;
            cursor: pointer;
            display: block;
            font-size: 1em;
            padding: 1em 1px 1em 1em;
        }

        .leaflet-popup-content a {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
            border: medium none;
            color: #006e2e !important;
            font-weight: 700 !important;
            text-align: center;
            text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.8) !important;
        }

